In [58]:
import pandas as pd
import numpy as np
import config_estilo

In [3]:
train_iden = pd.read_csv('train_identity.csv')
train_trs = pd.read_csv('train_transaction.csv')

In [13]:
print(train_iden.columns)
print('Cantidad de columnas ', len(train_iden.columns))

Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo'], dtype='object')
Cantidad de columnas  41

In [14]:
train_iden.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int64
 1   id_01          144233 non-null  float64
 2   id_02          140872 non-null  float64
 3   id_03          66324 non-null   float64
 4   id_04          66324 non-null   float64
 5   id_05          136865 non-null  float64
 6   id_06          136865 non-null  float64
 7   id_07          5155 non-null    float64
 8   id_08          5155 non-null    float64
 9   id_09          74926 non-null   float64
 10  id_10          74926 non-null   float64
 11  id_11          140978 non-null  float64
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float64
 14  id_14          80044 non-null   float64
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float64
 18  id_18          45113 non-null   float64
 19  id_19          139318 non-null  float64
 20  id_20          139261 non-null  float64
 21  id_21          5159 non-null    float64
 22  id_22          5169 non-null    float64
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float64
 25  id_25          5132 non-null    float64
 26  id_26          5163 non-null    float64
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float64
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB

In [15]:
train_iden.describe()

       TransactionID       id_01       id_02      id_03      id_04       id_05       id_06     id_07     id_08      id_09      id_10       id_11       id_13      id_14       id_17      id_18       id_19       id_20     id_21     id_22     id_24     id_25     id_26      id_32
count    144233.0000 144233.0000 140872.0000 66324.0000 66324.0000 136865.0000 136865.0000 5155.0000 5155.0000 74926.0000 74926.0000 140978.0000 127320.0000 80044.0000 139369.0000 45113.0000 139318.0000 139261.0000 5159.0000 5169.0000 4747.0000 5132.0000 5163.0000 77586.0000
mean    3236329.3113    -10.1705 174716.5847     0.0602    -0.0589      1.6156     -6.6987   13.2854  -38.6004     0.0910    -0.3011     99.7453     48.0531  -344.5071    189.4514    14.2373    353.1282    403.8827  368.2698   16.0027   12.8009  329.6089  149.0703    26.5086
std      178849.5712     14.3479 159651.8169     0.5982     0.7010      5.2499     16.4911   11.3842   26.0849     0.9838     2.7894      1.1276     11.7749    93.6955     30.3754     1.5613    141.0953    152.1603  198.8470    6.8977    2.3724   97.4611   32.1020     3.7375
min     2987004.0000   -100.0000      1.0000   -13.0000   -28.0000    -72.0000   -100.0000  -46.0000 -100.0000   -36.0000  -100.0000     90.0000     10.0000  -660.0000    100.0000    10.0000    100.0000    100.0000  100.0000   10.0000   11.0000  100.0000  100.0000     0.0000
25%     3077142.0000    -10.0000  67992.0000     0.0000     0.0000      0.0000     -6.0000    5.0000  -48.0000     0.0000     0.0000    100.0000     49.0000  -360.0000    166.0000    13.0000    266.0000    256.0000  252.0000   14.0000   11.0000  321.0000  119.0000    24.0000
50%     3198818.0000     -5.0000 125800.5000     0.0000     0.0000      0.0000      0.0000   14.0000  -34.0000     0.0000     0.0000    100.0000     52.0000  -300.0000    166.0000    15.0000    341.0000    472.0000  252.0000   14.0000   11.0000  321.0000  149.0000    24.0000
75%     3392923.0000     -5.0000 228749.0000     0.0000     0.0000      1.0000      0.0000   22.0000  -23.0000     0.0000     0.0000    100.0000     52.0000  -300.0000    225.0000    15.0000    427.0000    533.0000  486.5000   14.0000   15.0000  371.0000  169.0000    32.0000
max     3577534.0000      0.0000 999595.0000    10.0000     0.0000     52.0000      0.0000   61.0000    0.0000    25.0000     0.0000    100.0000     64.0000   720.0000    229.0000    29.0000    671.0000    661.0000  854.0000   44.0000   26.0000  548.0000  216.0000    32.0000

In [16]:
train_iden.head()

   TransactionID   id_01       id_02  id_03  id_04  id_05   id_06  id_07  id_08  id_09  id_10    id_11     id_12   id_13     id_14  id_15     id_16    id_17   id_18    id_19    id_20  id_21  id_22 id_23  id_24  id_25  id_26 id_27  id_28     id_29             id_30                id_31   id_32      id_33           id_34 id_35 id_36 id_37 id_38 DeviceType                     DeviceInfo
0        2987004  0.0000  70787.0000    nan    nan    nan     nan    nan    nan    nan    nan 100.0000  NotFound     nan -480.0000    New  NotFound 166.0000     nan 542.0000 144.0000    nan    nan   NaN    nan    nan    nan   NaN    New  NotFound       Android 7.0  samsung browser 6.2 32.0000  2220x1080  match_status:2     T     F     T     T     mobile  SAMSUNG SM-G892A Build/NRD90M
1        2987008 -5.0000  98945.0000    nan    nan 0.0000 -5.0000    nan    nan    nan    nan 100.0000  NotFound 49.0000 -300.0000    New  NotFound 166.0000     nan 621.0000 500.0000    nan    nan   NaN    nan    nan    nan   NaN    New  NotFound        iOS 11.1.2   mobile safari 11.0 32.0000   1334x750  match_status:1     T     F     F     T     mobile                     iOS Device
2        2987010 -5.0000 191631.0000 0.0000 0.0000 0.0000  0.0000    nan    nan 0.0000 0.0000 100.0000  NotFound 52.0000       nan  Found     Found 121.0000     nan 410.0000 142.0000    nan    nan   NaN    nan    nan    nan   NaN  Found     Found               NaN          chrome 62.0     nan        NaN             NaN     F     F     T     T    desktop                        Windows
3        2987011 -5.0000 221832.0000    nan    nan 0.0000 -6.0000    nan    nan    nan    nan 100.0000  NotFound 52.0000       nan    New  NotFound 225.0000     nan 176.0000 507.0000    nan    nan   NaN    nan    nan    nan   NaN    New  NotFound               NaN          chrome 62.0     nan        NaN             NaN     F     F     T     T    desktop                            NaN
4        2987016  0.0000   7460.0000 0.0000 0.0000 1.0000  0.0000    nan    nan 0.0000 0.0000 100.0000  NotFound     nan -300.0000  Found     Found 166.0000 15.0000 529.0000 575.0000    nan    nan   NaN    nan    nan    nan   NaN  Found     Found  Mac OS X 10_11_6          chrome 62.0 24.0000   1280x800  match_status:2     T     F     T     T    desktop                          MacOS

In [65]:
#Kepp the categorical variables from de identity dataset
cat_feat = []

for col in train_iden.columns:
    if train_iden[col].dtypes is np.dtype('object'):
        cat_feat.append(col)
    elif train_iden[col].dtypes is np.dtype('int'):
        cat_feat.append(col)
    else:
        pass

print(cat_feat)

['id_12', 'id_15', 'id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

In [73]:
for feat in cat_feat:
    print(train_iden[feat].value_counts(), '\n')

NotFound    123025
Found        21208
Name: id_12, dtype: int64

Found      67728
New        61612
Unknown    11645
Name: id_15, dtype: int64

Found       66324
NotFound    63016
Name: id_16, dtype: int64

IP_PROXY:TRANSPARENT    3489
IP_PROXY:ANONYMOUS      1071
IP_PROXY:HIDDEN          609
Name: id_23, dtype: int64

Found       5155
NotFound      14
Name: id_27, dtype: int64

Found    76232
New      64746
Name: id_28, dtype: int64

Found       74926
NotFound    66052
Name: id_29, dtype: int64

Windows 10          21155
Windows 7           13110
iOS 11.2.1           3722
iOS 11.1.2           3699
Android 7.0          2871
Mac OS X 10_12_6     2559
Mac OS X 10_11_6     2348
iOS 11.3.0           2016
Windows 8.1          1914
Mac OS X 10_10_5     1651
iOS 11.2.6           1647
iOS 10.3.3           1558
Mac OS X 10_13_2     1421
Mac OS X 10_13_1     1211
iOS 11.2.5           1200
Linux                1136
Android              1079
iOS 11.2.2            902
Mac OS X 10_13_3      860
iOS 11.2.0            852
Mac OS X 10_13_4      759
iOS 11.1.1            700
iOS 11.0.3            659
Android 7.1.1         630
Mac OS X 10_9_5       570
Android 6.0.1         566
iOS 10.3.2            428
iOS 9.3.5             414
Android 5.1.1         350
Android 8.0.0         343
Mac                   303
Mac OS X 10.13        287
iOS 10.2.1            285
iOS                   274
iOS 11.1.0            271
Windows Vista         246
iOS 10.3.1            236
Mac OS X 10.12        218
Mac OS X 10_12_5      217
Mac OS X 10.11        200
Android 8.1.0         192
Windows 8             180
iOS 11.0.2            166
iOS 10.2.0            149
iOS 11.0.0            144
iOS 11.3.1            136
Mac OS X 10.10        135
Windows XP            131
iOS 11.0.1            127
Mac OS X 10_12_4      103
iOS 10.1.1             96
iOS 10.0.2             95
Mac OS X 10_12_3       95
Mac OS X 10_7_5        93
Mac OS X 10_11_5       82
Android 6.0            80
Mac OS X 10_8_5        74
Android 4.4.2          63
Mac OS X 10.9          58
Android 5.0.2          55
Mac OS X 10_11_3       54
Mac OS X 10_11_4       53
Mac OS X 10_6_8        50
Mac OS X 10_12         49
Mac OS X 10.6          49
Mac OS X 10_12_1       44
Android 5.0            41
Android 7.1.2          33
Mac OS X 10_12_2       33
other                  15
func                   10
iOS 11.4.0              5
Mac OS X 10_13_5        4
Windows                 3
iOS 11.4.1              1
Name: id_30, dtype: int64

chrome 63.0              22000
mobile safari 11.0       13423
mobile safari generic    11474
ie 11.0 for desktop       9030
safari generic            8195
                         ...
LG/K-200                     1
android                      1
M4Tel/M4                     1
Cherry                       1
chromium                     1
Name: id_31, Length: 130, dtype: int64

1920x1080    16874
1366x768      8605
1334x750      6447
2208x1242     4900
1440x900      4384
             ...
1408x792         1
2010x1080        1
2048x1278        1
1422x889         1
1280x900         1
Name: id_33, Length: 260, dtype: int64

match_status:2     60011
match_status:1     17376
match_status:0       415
match_status:-1        3
Name: id_34, dtype: int64

T    77814
F    63171
Name: id_35, dtype: int64

F    134066
T      6919
Name: id_36, dtype: int64

T    110452
F     30533
Name: id_37, dtype: int64

F    73922
T    67063
Name: id_38, dtype: int64

desktop    85165
mobile     55645
Name: DeviceType, dtype: int64

Windows                    47722
iOS Device                 19782
MacOS                      12573
Trident/7.0                 7440
rv:11.0                     1901
                           ...
BBB100-2                       1
E6653 Build/32.4.A.1.54        1
Gigaset                        1
SM-J700T1                      1
SM-T285M                       1
Name: DeviceInfo, Length: 1786, dtype: int64

-5.0000     82170
0.0000      19555
-10.0000    11257
-20.0000    11211
-15.0000     5674
            ...
-47.0000        1
-54.0000        1
-86.0000        1
-28.0000        1
-57.0000        1
Name: id_01, Length: 77, dtype: int64

1102.0000      11
696.0000       10
1116.0000       9
1117.0000       9
1120.0000       9
               ..
171228.0000     1
342457.0000     1
128226.0000     1
118383.0000     1
24576.0000      1
Name: id_02, Length: 115655, dtype: int64

0.0000      63903
1.0000        863
3.0000        668
2.0000        421
5.0000        109
4.0000        100
6.0000         64
-5.0000        33
-6.0000        31
-4.0000        21
-7.0000        21
-10.0000       17
-8.0000        14
-1.0000        12
-2.0000        12
-3.0000         8
-11.0000        6
-9.0000         6
7.0000          4
-13.0000        3
-12.0000        3
9.0000          3
8.0000          1
10.0000         1
Name: id_03, dtype: int64

0.0000      65739
-5.0000       132
-6.0000        98
-8.0000        64
-4.0000        51
-1.0000        43
-11.0000       35
-12.0000       34
-10.0000       30
-9.0000        26
-13.0000       24
-7.0000        21
-2.0000        15
-3.0000        10
-28.0000        2
Name: id_04, dtype: int64

0.0000      92743
1.0000       8293
2.0000       4937
3.0000       3854
4.0000       2941
            ...
-35.0000        1
-34.0000        1
-38.0000        1
48.0000         1
-39.0000        1
Name: id_05, Length: 93, dtype: int64

0.0000      91325
-1.0000      4687
-5.0000      3849
-6.0000      3257
-9.0000      2634
            ...
-93.0000        4
-95.0000        2
-80.0000        2
-99.0000        1
-89.0000        1
Name: id_06, Length: 101, dtype: int64

0.0000      409
16.0000     245
14.0000     228
12.0000     208
15.0000     186
           ...
-15.0000      1
51.0000       1
52.0000       1
-33.0000      1
61.0000       1
Name: id_07, Length: 84, dtype: int64

-100.0000    500
0.0000       261
-34.0000     257
-33.0000     209
-32.0000     185
            ...
-98.0000       1
-65.0000       1
-90.0000       1
-97.0000       1
-93.0000       1
Name: id_08, Length: 94, dtype: int64

0.0000      70378
1.0000       1616
3.0000        966
2.0000        773
4.0000        270
5.0000        207
6.0000        145
-6.0000        66
-5.0000        60
-4.0000        42
-10.0000       39
-7.0000        39
-1.0000        38
-8.0000        37
7.0000         33
-3.0000        31
-2.0000        27
-9.0000        27
8.0000         23
-11.0000       18
9.0000         16
10.0000        11
11.0000         6
12.0000         6
-17.0000        4
-12.0000        4
-23.0000        4
-22.0000        4
13.0000         4
-13.0000        4
-21.0000        3
16.0000         3
15.0000         3
-31.0000        3
-19.0000        2
-15.0000        2
-26.0000        2
-18.0000        2
17.0000         1
25.0000         1
14.0000         1
-30.0000        1
-14.0000        1
-24.0000        1
-20.0000        1
-36.0000        1
Name: id_09, dtype: int64

0.0000       72879
-6.0000        295
-5.0000        247
-1.0000        200
-8.0000        147
-11.0000       127
-9.0000        118
-12.0000       118
-10.0000       115
-7.0000        109
-13.0000        89
-4.0000         87
-16.0000        33
-2.0000         33
-28.0000        25
-3.0000         24
-100.0000       20
-15.0000        18
-14.0000        17
-21.0000        16
-24.0000        15
-22.0000        14
-25.0000        13
-29.0000        13
-18.0000        11
-19.0000        11
-31.0000        10
-33.0000        10
-30.0000        10
-17.0000         7
-54.0000         7
-27.0000         7
-26.0000         7
-23.0000         7
-20.0000         6
-47.0000         6
-38.0000         5
-43.0000         5
-35.0000         4
-56.0000         4
-49.0000         4
-60.0000         4
-36.0000         3
-39.0000         3
-34.0000         3
-32.0000         2
-68.0000         2
-37.0000         2
-44.0000         1
-55.0000         1
-65.0000         1
-42.0000         1
-40.0000         1
-57.0000         1
-41.0000         1
-64.0000         1
-45.0000         1
-58.0000         1
-51.0000         1
-59.0000         1
-50.0000         1
-53.0000         1
Name: id_10, dtype: int64

100.0000    133162
95.0800       1231
95.1600        754
97.1200        440
96.6700        333
             ...
97.8700          1
97.6600          1
95.0400          1
91.9500          1
94.1700          1
Name: id_11, Length: 365, dtype: int64

52.0000    58099
49.0000    26365
64.0000    14429
33.0000    10048
27.0000     3666
20.0000     2878
14.0000     2499
63.0000     1468
19.0000     1147
25.0000     1066
43.0000      842
62.0000      813
18.0000      688
41.0000      654
55.0000      523
11.0000      373
15.0000      372
24.0000      318
35.0000      317
51.0000      196
61.0000      108
44.0000       85
54.0000       67
28.0000       59
39.0000       34
31.0000       29
45.0000       26
38.0000       22
13.0000       21
58.0000       17
36.0000       15
32.0000       10
48.0000       10
56.0000        9
30.0000        7
22.0000        5
53.0000        4
47.0000        3
60.0000        3
17.0000        3
21.0000        3
57.0000        3
46.0000        3
26.0000        2
12.0000        2
23.0000        1
40.0000        1
42.0000        1
34.0000        1
37.0000        1
10.0000        1
59.0000        1
29.0000        1
50.0000        1
Name: id_13, dtype: int64

-300.0000    44121
-360.0000    16661
-480.0000    12891
-420.0000     4542
-600.0000      498
60.0000        369
0.0000         192
-240.0000      159
-180.0000      126
-540.0000      111
480.0000        80
540.0000        64
600.0000        62
120.0000        41
180.0000        37
420.0000        19
330.0000        17
270.0000        15
240.0000        13
300.0000        12
720.0000         9
-660.0000        2
-120.0000        1
-210.0000        1
360.0000         1
Name: id_14, dtype: int64

166.0000    78631
225.0000    56968
102.0000      689
159.0000      352
100.0000      336
            ...
188.0000        1
154.0000        1
105.0000        1
219.0000        1
125.0000        1
Name: id_17, Length: 104, dtype: int64

15.0000    25489
13.0000    13439
12.0000     4656
18.0000      650
20.0000      339
17.0000      233
26.0000       89
21.0000       78
24.0000       52
11.0000       36
27.0000       32
29.0000        9
23.0000        4
14.0000        3
16.0000        1
28.0000        1
10.0000        1
25.0000        1
Name: id_18, dtype: int64

266.0000    19849
410.0000    11318
427.0000     8808
529.0000     8122
312.0000     6227
            ...
363.0000        1
174.0000        1
386.0000        1
179.0000        1
425.0000        1
Name: id_19, Length: 522, dtype: int64

507.0000    22311
222.0000    11065
325.0000     8133
533.0000     6611
214.0000     5664
            ...
426.0000        1
459.0000        1
221.0000        1
109.0000        1
486.0000        1
Name: id_20, Length: 394, dtype: int64

252.0000    2542
228.0000     239
255.0000     109
596.0000     103
576.0000     101
            ...
431.0000       1
648.0000       1
635.0000       1
637.0000       1
540.0000       1
Name: id_21, Length: 490, dtype: int64

14.0000    4736
41.0000     321
33.0000      38
17.0000       7
21.0000       7
39.0000       6
35.0000       5
36.0000       5
31.0000       5
12.0000       5
22.0000       5
20.0000       4
26.0000       4
24.0000       4
28.0000       3
42.0000       3
38.0000       2
19.0000       2
40.0000       1
43.0000       1
37.0000       1
23.0000       1
10.0000       1
44.0000       1
18.0000       1
Name: id_22, dtype: int64

11.0000    2817
15.0000    1594
16.0000     220
18.0000      37
21.0000      33
24.0000      12
17.0000       9
26.0000       8
25.0000       7
19.0000       5
12.0000       4
23.0000       1
Name: id_24, dtype: int64

321.0000    2494
205.0000     301
426.0000     236
501.0000     103
371.0000      83
            ...
543.0000       1
398.0000       1
467.0000       1
342.0000       1
392.0000       1
Name: id_25, Length: 341, dtype: int64

161.0000    824
184.0000    582
142.0000    528
102.0000    451
100.0000    433
           ...
101.0000      1
198.0000      1
178.0000      1
115.0000      1
127.0000      1
Name: id_26, Length: 95, dtype: int64

24.0000    53071
32.0000    24428
16.0000       81
0.0000         6
Name: id_32, dtype: int64

-5.0000     82170
0.0000      19555
-10.0000    11257
-20.0000    11211
-15.0000     5674
            ...
-47.0000        1
-54.0000        1
-86.0000        1
-28.0000        1
-57.0000        1
Name: id_01, Length: 77, dtype: int64

1102.0000      11
696.0000       10
1116.0000       9
1117.0000       9
1120.0000       9
               ..
171228.0000     1
342457.0000     1
128226.0000     1
118383.0000     1
24576.0000      1
Name: id_02, Length: 115655, dtype: int64

0.0000      63903
1.0000        863
3.0000        668
2.0000        421
5.0000        109
4.0000        100
6.0000         64
-5.0000        33
-6.0000        31
-4.0000        21
-7.0000        21
-10.0000       17
-8.0000        14
-1.0000        12
-2.0000        12
-3.0000         8
-11.0000        6
-9.0000         6
7.0000          4
-13.0000        3
-12.0000        3
9.0000          3
8.0000          1
10.0000         1
Name: id_03, dtype: int64

0.0000      65739
-5.0000       132
-6.0000        98
-8.0000        64
-4.0000        51
-1.0000        43
-11.0000       35
-12.0000       34
-10.0000       30
-9.0000        26
-13.0000       24
-7.0000        21
-2.0000        15
-3.0000        10
-28.0000        2
Name: id_04, dtype: int64

0.0000      92743
1.0000       8293
2.0000       4937
3.0000       3854
4.0000       2941
            ...
-35.0000        1
-34.0000        1
-38.0000        1
48.0000         1
-39.0000        1
Name: id_05, Length: 93, dtype: int64

0.0000      91325
-1.0000      4687
-5.0000      3849
-6.0000      3257
-9.0000      2634
            ...
-93.0000        4
-95.0000        2
-80.0000        2
-99.0000        1
-89.0000        1
Name: id_06, Length: 101, dtype: int64

0.0000      409
16.0000     245
14.0000     228
12.0000     208
15.0000     186
           ...
-15.0000      1
51.0000       1
52.0000       1
-33.0000      1
61.0000       1
Name: id_07, Length: 84, dtype: int64

-100.0000    500
0.0000       261
-34.0000     257
-33.0000     209
-32.0000     185
            ...
-98.0000       1
-65.0000       1
-90.0000       1
-97.0000       1
-93.0000       1
Name: id_08, Length: 94, dtype: int64

0.0000      70378
1.0000       1616
3.0000        966
2.0000        773
4.0000        270
5.0000        207
6.0000        145
-6.0000        66
-5.0000        60
-4.0000        42
-10.0000       39
-7.0000        39
-1.0000        38
-8.0000        37
7.0000         33
-3.0000        31
-2.0000        27
-9.0000        27
8.0000         23
-11.0000       18
9.0000         16
10.0000        11
11.0000         6
12.0000         6
-17.0000        4
-12.0000        4
-23.0000        4
-22.0000        4
13.0000         4
-13.0000        4
-21.0000        3
16.0000         3
15.0000         3
-31.0000        3
-19.0000        2
-15.0000        2
-26.0000        2
-18.0000        2
17.0000         1
25.0000         1
14.0000         1
-30.0000        1
-14.0000        1
-24.0000        1
-20.0000        1
-36.0000        1
Name: id_09, dtype: int64

0.0000       72879
-6.0000        295
-5.0000        247
-1.0000        200
-8.0000        147
-11.0000       127
-9.0000        118
-12.0000       118
-10.0000       115
-7.0000        109
-13.0000        89
-4.0000         87
-16.0000        33
-2.0000         33
-28.0000        25
-3.0000         24
-100.0000       20
-15.0000        18
-14.0000        17
-21.0000        16
-24.0000        15
-22.0000        14
-25.0000        13
-29.0000        13
-18.0000        11
-19.0000        11
-31.0000        10
-33.0000        10
-30.0000        10
-17.0000         7
-54.0000         7
-27.0000         7
-26.0000         7
-23.0000         7
-20.0000         6
-47.0000         6
-38.0000         5
-43.0000         5
-35.0000         4
-56.0000         4
-49.0000         4
-60.0000         4
-36.0000         3
-39.0000         3
-34.0000         3
-32.0000         2
-68.0000         2
-37.0000         2
-44.0000         1
-55.0000         1
-65.0000         1
-42.0000         1
-40.0000         1
-57.0000         1
-41.0000         1
-64.0000         1
-45.0000         1
-58.0000         1
-51.0000         1
-59.0000         1
-50.0000         1
-53.0000         1
Name: id_10, dtype: int64

100.0000    133162
95.0800       1231
95.1600        754
97.1200        440
96.6700        333
             ...
97.8700          1
97.6600          1
95.0400          1
91.9500          1
94.1700          1
Name: id_11, Length: 365, dtype: int64

52.0000    58099
49.0000    26365
64.0000    14429
33.0000    10048
27.0000     3666
20.0000     2878
14.0000     2499
63.0000     1468
19.0000     1147
25.0000     1066
43.0000      842
62.0000      813
18.0000      688
41.0000      654
55.0000      523
11.0000      373
15.0000      372
24.0000      318
35.0000      317
51.0000      196
61.0000      108
44.0000       85
54.0000       67
28.0000       59
39.0000       34
31.0000       29
45.0000       26
38.0000       22
13.0000       21
58.0000       17
36.0000       15
32.0000       10
48.0000       10
56.0000        9
30.0000        7
22.0000        5
53.0000        4
47.0000        3
60.0000        3
17.0000        3
21.0000        3
57.0000        3
46.0000        3
26.0000        2
12.0000        2
23.0000        1
40.0000        1
42.0000        1
34.0000        1
37.0000        1
10.0000        1
59.0000        1
29.0000        1
50.0000        1
Name: id_13, dtype: int64

-300.0000    44121
-360.0000    16661
-480.0000    12891
-420.0000     4542
-600.0000      498
60.0000        369
0.0000         192
-240.0000      159
-180.0000      126
-540.0000      111
480.0000        80
540.0000        64
600.0000        62
120.0000        41
180.0000        37
420.0000        19
330.0000        17
270.0000        15
240.0000        13
300.0000        12
720.0000         9
-660.0000        2
-120.0000        1
-210.0000        1
360.0000         1
Name: id_14, dtype: int64

166.0000    78631
225.0000    56968
102.0000      689
159.0000      352
100.0000      336
            ...
188.0000        1
154.0000        1
105.0000        1
219.0000        1
125.0000        1
Name: id_17, Length: 104, dtype: int64

15.0000    25489
13.0000    13439
12.0000     4656
18.0000      650
20.0000      339
17.0000      233
26.0000       89
21.0000       78
24.0000       52
11.0000       36
27.0000       32
29.0000        9
23.0000        4
14.0000        3
16.0000        1
28.0000        1
10.0000        1
25.0000        1
Name: id_18, dtype: int64

266.0000    19849
410.0000    11318
427.0000     8808
529.0000     8122
312.0000     6227
            ...
363.0000        1
174.0000        1
386.0000        1
179.0000        1
425.0000        1
Name: id_19, Length: 522, dtype: int64

507.0000    22311
222.0000    11065
325.0000     8133
533.0000     6611
214.0000     5664
            ...
426.0000        1
459.0000        1
221.0000        1
109.0000        1
486.0000        1
Name: id_20, Length: 394, dtype: int64

252.0000    2542
228.0000     239
255.0000     109
596.0000     103
576.0000     101
            ...
431.0000       1
648.0000       1
635.0000       1
637.0000       1
540.0000       1
Name: id_21, Length: 490, dtype: int64

14.0000    4736
41.0000     321
33.0000      38
17.0000       7
21.0000       7
39.0000       6
35.0000       5
36.0000       5
31.0000       5
12.0000       5
22.0000       5
20.0000       4
26.0000       4
24.0000       4
28.0000       3
42.0000       3
38.0000       2
19.0000       2
40.0000       1
43.0000       1
37.0000       1
23.0000       1
10.0000       1
44.0000       1
18.0000       1
Name: id_22, dtype: int64

11.0000    2817
15.0000    1594
16.0000     220
18.0000      37
21.0000      33
24.0000      12
17.0000       9
26.0000       8
25.0000       7
19.0000       5

In [68]:
#Kepp the continuos variables from de identity dataset
cont_feat = []

for col in train_iden.columns:
    if train_iden[col].dtypes is np.dtype('float64'):
        cont_feat.append(col)
    else:
        pass

print(cont_feat)

['id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08', 'id_09', 'id_10', 'id_11', 'id_13', 'id_14', 'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_24', 'id_25', 'id_26', 'id_32']

In [11]:
print(train_trs.columns)
print('Cantidad de columnas ', len(train_trs.columns))

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6', 'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80',
       'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206',
       'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330',
       'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339'],
      dtype='object')
Cantidad de columnas  394